.contents{
  margin-top: calc(80px + 40px);
  width: 100%;
  padding: 30px 100px;
  text-align: center;
}
.contents row{
  display: flex;
  flex-flow: column;
  align-items: center;
}
p{
  font-size: 28px;
  text-align: left;
}

table{
  width: 100%;
  margin-bottom: 50px;
}

thead{
  background-color: #CCFFFF;
}
th{
  height: 50px;
}


